arviz==0.21.0
arviz-base @ git+https://github.com/arviz-devs/arviz-base
arviz-stats @ git+https://github.com/arviz-devs/arviz-stats
arviz-plots @ git+https://github.com/arviz-devs/arviz-plots
bambi==0.15.0
kulprit @ git+https://github.com/bambinos/kulprit
preliz==0.16.0
pymc==5.21.1
pymc-bart==0.9.0
