arviz==0.19.0
arviz-base @ git+https://github.com/arviz-devs/arviz-base
arviz-stats @ git+https://github.com/arviz-devs/arviz-stats
arviz-plots @ git+https://github.com/arviz-devs/arviz-plots
preliz==0.13.0
pymc==5.16.2
